<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenday.lyrics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.greenday.lyrics.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.greenday.lyrics.Settings"
           android:label="@string/settings_name" />
        <activity android:name="com.greenday.lyrics.Reportproblem"
           android:label="@string/feedback_name" />
        
        <!-- Songs -->
        <activity android:name="com.greenday.albums.Americanidiot"
            android:label="@string/americanidiot_title"></activity>
        <activity android:name="com.greenday.albums.Jesusofsuburb"
            android:label="@string/jos_title"></activity>
        <activity android:name="com.greenday.albums.Holiday"
            android:label="@string/holiday_title"></activity>
        <activity android:name="com.greenday.albums.Boulevardofbd"
            android:label="@string/bobd_title"></activity>
        <activity android:name="com.greenday.albums.Arewethewaiting"
            android:label="@string/awtw_title"></activity>
        <activity android:name="com.greenday.albums.Stjimmy"
            android:label="@string/stjimmy_title"></activity>
        <activity android:name="com.greenday.albums.Givemenov"
            android:label="@string/givemenov_title"></activity>
        <activity android:name="com.greenday.albums.Shesarebel"
            android:label="@string/shesarebel_title"></activity>
        <activity android:name="com.greenday.albums.Extraordgirl"
            android:label="@string/extordgirl_title"></activity>
        <activity android:name="com.greenday.albums.Letterbomb"
            android:label="@string/letterbomb_title"></activity>
        <activity android:name="com.greenday.albums.Wakemeup"
            android:label="@string/wmuwse_title"></activity>
        <activity android:name="com.greenday.albums.Homecoming"
            android:label="@string/homcom_title"></activity>
        <activity android:name="com.greenday.albums.Whatshername"
            android:label="@string/whatshername_title"></activity>
        <!-- UNO -->
        <activity android:name="com.greenday.albums.Nuclearfamily"
            android:label="@string/nuclearfamily_title"></activity>
        <activity android:name="com.greenday.albums.Staythenight"
            android:label="@string/staythenight_title"></activity>
        <activity android:name="com.greenday.albums.Carpediem"
            android:label="@string/carpediem_title"></activity>
        <activity android:name="com.greenday.albums.Letyourselfgo"
            android:label="@string/letyourselfgo_title"></activity>
        
        
    </application>

</manifest>
