<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenday.lyrics"
    android:versionCode="3"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
        
        
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:name="com.greenday.lyrics.Frontend"
        android:theme="@style/Theme.Default"
        >
        <activity
            android:name="com.greenday.lyrics.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
             
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity android:name="com.greenday.lyrics.Allsongs"
           android:label="@string/all_songs"
           android:windowSoftInputMode="stateHidden|adjustPan" 
            android:screenOrientation="portrait">
        
    </activity>
        
        <activity android:name="com.greenday.lyrics.ReportSong"
            android:label="@string/reportsong_title"
        	android:screenOrientation="portrait"
             />
        <activity android:name="com.greenday.lyrics.Settings"
           android:label="@string/settings"
           android:screenOrientation="portrait" />
        <activity android:name="com.greenday.easteregg.EasterPre"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" />
        <activity android:name="com.greenday.easteregg.Beanbag"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait" />
        
        <!-- ACRA -->
        <activity android:name="org.acra.CrashReportDialog"
        android:theme="@android:style/Theme.Dialog"
        android:launchMode="singleInstance"
        android:excludeFromRecents="true"
        android:finishOnTaskLaunch="true" 
        android:screenOrientation="portrait" />
        
        <!-- Songs -->
        
        <!-- American Idiot -->
        <activity android:name="com.greenday.americanidiot.AmericanIdiotMain"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
             ></activity>
    	
        <!-- UNO -->
        <activity android:name="com.greenday.uno.Uno"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
             ></activity>
        
        <!-- DOS -->
        <activity android:name="com.greenday.dos.Dos"
            android:uiOptions="splitActionBarWhenNarrow"
            android:screenOrientation="portrait"
            ></activity>
        
        <!-- TRE -->
        <activity android:name="com.greenday.tre.Tre"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
        	 ></activity>
        
        <!-- 21st centuary breakdown -->
        <activity android:name="com.greenday.tcb.TcbMain"
	        android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
        	 ></activity>
        
        <!-- Shenanigans -->
        <activity android:name="com.greenday.shenanigans.Shenanigans"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
        	 ></activity>
        
        <!-- Warning -->
        <activity android:name="com.greenday.warning.WarningMain"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
		     ></activity>
	    
	    <!-- Nimrod -->
	    <activity android:name="com.greenday.nimrod.Nimrod"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
	         ></activity>
	    
	    <!-- Insomniac -->
	    <activity android:name="com.greenday.insomniac.Insomniac"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
	         ></activity>
	    
	    <!-- Dookie -->
	    
	    <activity android:name="com.greenday.dookie.Dookie"
	        android:uiOptions="splitActionBarWhenNarrow"
	        android:screenOrientation="portrait"
	        ></activity>
	    
	    <!-- Kerplunk -->
	    <activity android:name="com.greenday.kerplunk.Kerplunk"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
	         ></activity>
	    
	    <!-- International Superhits -->
	    <activity android:name="com.greenday.ins.Ins"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
	         ></activity>
	    
	    <!-- 39/Smooth -->
	    <activity android:name="com.greenday.tns.Tns"
        	android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait"
	         ></activity>
	    
	    <!-- Unreleased -->
	    
	    <activity android:name="com.greenday.unreleased.Unreleased"
            android:uiOptions="splitActionBarWhenNarrow"
        	android:screenOrientation="portrait" />
	    
        <!-- for second actionbar-  android:uiOptions="splitActionBarWhenNarrow"
        	 to avoid pushing second action bar with softkeyboard(duh!) :
        	 android:windowSoftInputMode="adjustPan"  -->
        
    </application>

</manifest>
