<configuration>
  <!-- Create a file appender for a log in the application's data directory -->
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>/data/data/com.greenday.lyrics/files/log/extra.log</file>
    <encoder>
      <pattern>%d{DD:MM:YY:HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n\n\n</pattern>
    </encoder>
  </appender>

  <!-- Write INFO (and higher-level) messages to the log file -->
  <root level="INFO">
    <appender-ref ref="file" />
  </root>
</configuration>